*{
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Hand";   /*Can be any text*/
  src: local("Hand-Regular"),
    url("/public/fonts/Hand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kate";   /*Can be any text*/
  src: local("Kate-Regular"),
    url("/public/fonts/Kate-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Headers";   /*Can be any text*/
  src: local("Headers-Regular"),
    url("/public/fonts/Headers-Regular.ttf") format("truetype");
}

